.calculator {
    font-family: sans-serif;
    text-align: center;
  }
  
  .input-display,
  .inputs {
    text-align: center;
    margin: 20px;
  }
  
  .input {
    padding: 10px;
    padding-bottom: 1rem;
  }
  .subtitle {
    margin-top: 80px;
  }


.form {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    text-align: center;
}

h3 {
  text-align: center;
}

.classDropDown {
    text-align: center;

}

.introP {
    text-align: center;
    
}

.Modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
  }
  
  .Modal .openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
  }
  
  body {
    padding: 0;
    margin: 0;
  }